
// .poppins-thin {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-Thin.ttf);
  font-family: "Poppins";
  font-weight: 100;
  font-style: normal;
}

// .poppins-extralight {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-ExtraLight.ttf);
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
}

// .poppins-light {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-Light.ttf);
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
}

// .poppins-regular {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-Regular.ttf);
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}

// .poppins-medium {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-Regular.ttf);
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
}

// .poppins-semibold {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
}

// .poppins-bold {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-Bold.ttf);
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
}

// .poppins-extrabold {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-ExtraBold.ttf);
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
}

// .poppins-black {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-Black.ttf);
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
}

// .poppins-thin-italic {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-ThinItalic.ttf);
  font-family: "Poppins";
  font-weight: 100;
  font-style: italic;
}

// .poppins-extralight-italic {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf);
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
}

// .poppins-light-italic {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-LightItalic.ttf);
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
}

// .poppins-regular-italic {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-Italic.ttf);
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
}

// .poppins-medium-italic {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-LightItalic.ttf);
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
}

// .poppins-semibold-italic {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-MediumItalic.ttf);
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
}

// .poppins-bold-italic {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-BoldItalic.ttf);
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
}

// .poppins-extrabold-italic {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
  font-family: "Poppins";
  font-weight: 800;
  font-style: italic;
}

// .poppins-black-italic {
@font-face {
  src: url(@/assets/fonts/Poppins/Poppins-BlackItalic.ttf);
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
}
